:root{
    --mdc-theme-primary: white;
}

header{
    top: 0px;
    left: 0px;
    background-color: var(--mdc-theme-primary);
    width: 100vw;
    position: fixed; 
    border: 2px double #b5b5b5;
}

#experts-logo-div{
    width: 153.936px;
    height: 114px;
    background: url("images/Experts Logo 5-2_optimized.png");
    z-index: 1;
    background-size: contain;
    cursor: pointer;
}

#experts-logo a {
    /* Reset default link styles */
    text-decoration: none;
    color: inherit;
}

#search-bar{
    width: 250px;
    height: 35px;
    flex-shrink: 0;
    padding: 6px;
    font-size: 20px;
    border: none;
    background-color: #F2F7FF;
  }

.header-icon-div{
    width: 150;
    height: 125;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  ul{
    width: 100%;
  }


footer {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(7, minmax(0,1fr));
    background-color: rgba(226, 226, 226, 0.516);
    width: 100vw;
    margin-top: 10px;
    height: 150px;
    justify-items: start;
}

footer div {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    padding-block: 7px;
    padding-left: 6px;
}

.no-underline {
    text-decoration: none;
    padding-bottom: 2px;
    color: rgb(108, 108, 108);
}

#language-label {
    color: rgb(108, 108, 108);
}

#language {
    border-radius: 6px
}

#select-language {
}

@media (max-width: 800px) {
    footer {
        display: none;
    }
}