body, html {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: #FFFFFF; /* Set the background to white */
}

.header-image-container {
  width: 100%;
  display: block; /* This ensures the div takes the full width */
}

.header-image {
  width: 100%;
  height: auto; /* Ensures the image is responsive and maintains aspect ratio */
  display: block; /* This ensures the image takes the full width of its container */
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; /* Fixed width */
  padding: 40px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

* {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.password-container {
  display: flex; /* Enable flexbox layout */
  align-items: center; /* Align items vertically in the center */
  margin: 10px 0; /* Add some margin around the container */
}

.password-container input[type="password"]:active {
  margin-right: 10px; /* Space between input and toggle button */
  padding: 10px; /* Padding inside the input */
  border: 1px solid #ccc; /* Border for the input */
  border-radius: 4px; /* Rounded corners for the input */
  outline: none; /* Removes the outline on focus */
  transition: none; /* Disable transitions that might be causing a change in size */
}

.password-container input[type="password"]:focus {
  outline: none;
  border: 1px solid #ccc; /* Maintain the same border style on focus */
  margin-right: 10px;
  transition: none;
}

.toggle-password {
  flex: 0 0 30px; /* Do not grow or shrink, set the basis to 30px */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px; /* Set the height to maintain a square */
  width: 30px; /* Set the width to maintain a square */
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none; /* Remove focus outline */
}

/* Ensure that pressing the button does not affect the input field size */
.toggle-password:active,
.toggle-password:focus {
  outline: none;
  box-shadow: none;
}

.login-form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  background-color: #7DCEE6;
  color: white;
  cursor: pointer;
}

.forgot-password {
  display: block;
  margin: 10px 0;
  color: #7DCEE6;
  text-decoration: none;
}

.signup-prompt {
  margin-top: 20px;
}

.signup-link {
  color: #7DCEE6;
  font-weight: bold;
  text-decoration: none;
}