:root {
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(252, 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, 17%);
    --color-black: hsl(252, 30%, 10%);
  
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
  
    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

body {
    height: auto;
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
    margin-top: 128px;
}

main {
    margin-inline: 30px;
    padding-top: 30px;
}


.btn{
    display: inline-block;
    padding: var(--btn-padding);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    gap: 50px;
}
  
.left {
    width: 60%;
}

.left section {
    background: white;
    border-radius: var(--card-border-radius);
    margin-bottom: 20px;
}


.left section i{
    font-size: 2.4rem;
    color: var(--color-gray);
    /* margin-left: 2rem; */
    position: relative;
    
}
.left section h1{
    font-size: 2rem;
}

#user-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-inline: 30px;
}

.hidden {
    display: none;
}

/***********************Edit Section***********************/
.edit-button,
.add-button {
    border: none;
    background-color: #fff;
    cursor: pointer;
}

/*****User info******/

.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vw;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 450px;
    height: auto;
    z-index: 2;
    border-radius: var(--border-radius);
    padding: 40px;
}

.popup .content h3 {
    margin-block: 5px;
}

.popup .content form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.popup .content .edit-form {
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: 8px;
    margin-block: 5px;
}

.popup .content .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 35px;
    height: 35px;
    background: var(--color-black);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup .content .save-btn {
    position: relative;
    top: 20px;
    width: auto;
    background: var(--color-primary);
    color: #fff;
    font-weight: 600;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

/******Edit Experience******/

#username {
    margin-block: 15px;
}

#user-headline {
    font-size: 20px;
}

#user-location {
    font-size: 17px;
    color: var(--color-gray);
}

.profile-photo{
    width: 8.7rem;  
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img{
    display: block;
    width: 100%;
}

.about {
    padding-block: 5px;
}

.left section h2,
.left section p {
    margin-inline: 20px;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 10px;
}

.section-header .icons i{
    margin-inline: 5px;
}

.entry {
    display: flex;
    flex-direction: row;
    margin-inline: 15px;
    margin-bottom: 15px;
    border-bottom: solid 1px rgb(222, 222, 222);
}

.logo {
    margin: 10px;
    background: gray;
    height: 50px;
    aspect-ratio: 1/1;
}

.entry-information {
    display: flex;
    flex-direction: column;
}

.entry-information h3, 
.entry-information span {
    margin: 0;
    margin-left: 15px;
    width: fit-content;
}

.skill-name {
    font-size: 1.2rem;
}


/****************RIGHT sIDE******************/



.right {
    width: 30%;
}

.right section {
    background: white;
    border-radius: var(--card-border-radius);
}

.section-header--right {
    padding-top: 10px;
    margin-left: 25px;
}

.recommendation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
    margin-inline: 15px;
    margin-bottom: 15px;
    border-bottom: solid 1px rgb(222, 222, 222);
    gap: 40px;
}

.recommended-photo {
    width: 60px;  
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.recommendation-name {
    font-size: 20px;
    font-weight: 550;
}

.recommendation-description {
    font-size: 15px;
    color: var(--color-gray);
}

.ampler-padding--bottom {
    margin-bottom: 20px;
}


#user-bio {
    display: grid;
    grid-template-columns: 2fr 1fr;
}